name: Snyk Security Scan
on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # Paso 1: Instalar dependencias
      - name: Install dependencies
        run: npm install
        working-directory: ./backend

      # Paso 2: Ejecutar Snyk Monitor
      - name: Run Snyk Monitor
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --file=backend/package.json
          command: monitor  
